body {
  font-family: 'Bruno Ace', cursive;
  background-color: #000;
}

.cabecalho {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin: 5px;
  margin-top: 15px;
}

.valores {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  color: aliceblue;
  font-size: large;
  align-items: center;
}

.valores>input {
  border: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 16px;
  height: 40px;
  width: 200px;
  font-size: large;
  font-family: 'Bruno Ace', cursive;
}

.resposta {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  text-align: center;
  margin-left: auto;
}

.resposta>input {
  border: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 16px;
  height: 40px;
  width: 200px;
  font-size: large;
  font-family: 'Bruno Ace', cursive;
}

.pontos {
  justify-content: center;
  display: flex;
  color: antiquewhite;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 25px;
  text-align: center;
  flex-direction: column;
  padding-top: 10px;
}

#divAcertos {
  color: rgb(0, 255, 42)
}

#divErros {
  color: rgb(255, 0, 0)
}

.botoes {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.botao {
  border: 1px solid #000;
  color: #000;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  border-radius: 50px;
  width: 150px;
  font-size: large;
  font-family: 'Bruno Ace', cursive;
}

.botao.selecionado {
  opacity: 0.5;
  pointer-events: none;
}